body{
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    font-size: large;
    font-family: 'Comic Sans MS';
    background-image: url("https://media1.tenor.com/m/yheo1GGu3FwAAAAd/rick-roll-rick-ashley.gif");
    background-size: 150px;
    height: 100000px;
    position: relative;
}
.atro{
    color: blue;
    background-color: red;
}
.cious{
    color: red;
    background-color: gray;
    margin-left: 300px;
    margin-right: 300px;
}
a{
    position: absolute; 
	bottom: 0; 
    z-index: 1;
    left:50%;
    transform: translateX(-50%);
    color:white;
    font-weight:bolder;
}
.red{
    text-align:center;
    background-color: red;
    color: white;
}
.blue{
    text-align:center;
    background-color: blue;
    color: orange;
}
.turquoise{
    text-align:center;
    background-color:  turquoise;
    color: red;
}
.purple{
    text-align:center;
    background-color: purple;
    color: green;
}
.green{
    text-align:center;
    background-color: green;
    color:  yellow;
}
.pink{
    text-align:center;
    background-color: pink;
    color: brown;
}
.orange{
    text-align:center;
    background-color: orange;
    color: red;
}
.yellow{
    text-align:center;
    background-color: yellow;
    color: pink;
}
.white{
    text-align:center;
    background-color: white;
    color:gray;
}
.violet{
    text-align:center;
    background-color: violet;
    color:purple;
}
.brown{
    text-align:center;
    background-color: brown;
    color:blue;
}
.gray{
    text-align: center;
    background-color: gray;
    color:white;
}